@charset "utf-8";
*{
    margin:0;
    padding:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.6;
    font-size:17px;
}
#aurora{
    display:flex;
    flex-direction: column;
    height:100vh;
    background-image: url('../img/aurora.jpeg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
#aurora h1{
    font-size: 50px;   
}
#aurora p{
    font-size: 20px;
}
#aurora .button{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border:  #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
#aurora .button:hover{
    background-color: mediumaquamarine;
    color:#fff;
    
}
#section-a{
    padding:20px;
    background-color: mediumaquamarine;
    color: #fff;
    text-align: center;

}
#section-b{
    padding:20px;
    background-color: #fff;
    color: mediumaquamarine;
    text-align: center;
}
#section-c{
    display:flex;
}
#section-c div{
    padding:20px;
}
#section-c .box-1, #section-c .box-3{
    background-color: mediumaquamarine;
    color:#fff;
}
#section-c .box-2{
    color:mediumaquamarine;
}